%h2 
  = t ".title"
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, :autofocus => true, :placeholder => t(".email_placeholder")
  = f.input :password, :hint => t(".password_hint")
  = f.input :remember_me, inline_label: true, label: false, :as => :boolean if devise_mapping.rememberable?
  = f.button :submit, t(".sign_in"), :class => 'btn-primary'
= render "devise/shared/links"
