%footer
  = link_to_unless_current "About", "#"
  |
  = link_to_unless_current "Terms", "#"
  |
  = link_to_unless_current "Privacy", "#"
  |
  = link_to_unless_current "Help", "#"
  |
  = "© " + Time.now.year.to_s