- if !user_signed_in?
  = link_to "G", root_path, :class => 'brand'
- else
  %ul.nav.nav-pills
    = link_to root_path, {:class => 'btn'} do
      %i.icon-home.icon-large
      %span.hidden-phone 
        Home
    = link_to new_question_path, {:class => 'btn'} do
      %i.icon-edit.icon-large
      %span.hidden-phone 
        Create
    = link_to edit_user_registration_path, {:class => 'btn'} do
      %i.icon-user.icon-large
      %span.hidden-phone 
        Profile
    = link_to questions_path, {:class => 'btn'} do
      %i.icon-search.icon-large
      %span.hidden-phone 
        Search
%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
        %span.icon-cog.icon-large
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to t(".logout"), destroy_user_session_path, :method=>'delete'
        %li
          = link_to t(".edit_account"), edit_user_registration_path
        - if current_user.has_role? :admin
          %li
            = link_to t(".administration"), users_path
- if !user_signed_in?
  %ul.nav.nav-pills.pull-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
        = t(".language")
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "English", locale: :en
        %li
          = link_to "Français", locale: :fr
        %li
          = link_to "Deutsch", locale: :de
        %li
          = link_to "Español", locale: :es

