%strong Questions
%ul.nav
  %li.active
    %table.table.table-condensed.table-bordered
      %tr.info
        %td
          = link_to questions_path do
            = @user.questions_count
        %td
          = link_to questions_path do
            = @user.answers_count
        %td
          = link_to questions_path do
            = @user.marks_count
      %tr.info
        %td
          = link_to "Submitted", questions_path
        %td  
          = link_to "Answered", questions_path
        %td  
          = link_to "Marks", questions_path